
NET "CLK" LOC = P93;
NET "FPGALED" LOC = P99;

#NET "USBDP" LOC = P101;
#NET "USBDM" LOC = P102;
#NET "USBCON" LOC = P100;

#NET "IO[5]" LOC = P2;



NET "LED_R0" LOC = P9;
NET "LED_G0" LOC = P10;
NET "LED_B0" LOC = P11;
NET "LED_R1" LOC = P12;
NET "LED_G1" LOC = P14;
NET "LED_B1" LOC = P15;
NET "LED_A" LOC = P16;
NET "LED_B" LOC = P29;
NET "LED_C" LOC = P30;
NET "LED_D" LOC = P32;
NET "LED_CLK" LOC = P33;
NET "LED_STB" LOC = P34;
NET "LED_OE" LOC = P35;

#NET "FLASH_CS" LOC = P38;
NET "FLASH_CLK" LOC = P70 | CLOCK_DEDICATED_ROUTE = FALSE;
NET "FLASH_MOSI" LOC = P64;
NET "FLASH_MISO" LOC = P65;

NET "DBGIO1" LOC = P41;
#NET "DBGIO2" LOC = P43;
#NET "DBGIO3" LOC = P44;
#NET "DBGIO4" LOC = P45;
#NET "DBGIO5" LOC = P46;
